/* Reset some default browser styles */
body, ul {
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    margin: 20px;
}

header {
    background-color: #373636;
    color: aliceblue;
    text-align: center;
    padding: 20px 0 ;
    box-shadow: 0 2px 4px rgba(0, 0,0, 0.1);
}
footer {
    text-align: center;
    background-color: #373636;
    color: aliceblue;

}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    overflow-y: scroll;
    height: calc(100vh - 200px); /* Adjust based on your footer and header height */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:2rem;
}

.item img {
    width: 100%;
    height: auto;

}

.item-name {
    font-weight: bold;
    text-align: center;
}

.item-price {
    text-align: center;
    color: #555;
}
body .sidenav {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .home{
    width: 40px;
  }
  @media screen and (max-height: 500px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }